In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_k = pd.read_csv('kriteria.csv')
df_k

  Alternatif bobot    peran
0      Harga   40%     cost
1  Jangkauan   20%  benefit
2  Kecepatan   40%  benefit

In [ ]:
df_a = pd.read_csv('alternatif.csv')
df_a

    ALTERNATIF  Harga(rb)  Jangkauan(m)  Kecepatan(mbps)
0     Indihome        320             8               20
1       Biznet        375             4               85
2  First Media        285             7               10

# Normalsasi

In [ ]:
df_a['Harga(rb)'] = (df_a['Harga(rb)'].min()/(df_a['Harga(rb)']))
df_a['Jangkauan(m)'] = (df_a['Jangkauan(m)'])/(df_a['Jangkauan(m)'].max())
df_a['Kecepatan(mbps)'] = (df_a['Kecepatan(mbps)'])/(df_a['Kecepatan(mbps)'].max())

In [ ]:
df_a

    ALTERNATIF  Harga(rb)  Jangkauan(m)  Kecepatan(mbps)
0     Indihome   0.890625         1.000         0.235294
1       Biznet   0.760000         0.500         1.000000
2  First Media   1.000000         0.875         0.117647

# Perangkingan

In [ ]:
df_k['bobot'] = df_k['bobot'].str.rstrip('%').astype('float') / 100.0

In [ ]:
rank = pd.DataFrame.from_dict(df_a['ALTERNATIF'])
rank['Total'] = (df_a['Harga(rb)']*df_k['bobot'][0])+(df_a['Jangkauan(m)']*df_k['bobot'][1])+(df_a['Kecepatan(mbps)']*df_k['bobot'][2])
rank['Rank'] = rank['Total'].rank(ascending=False)
rank

    ALTERNATIF     Total  Rank
0     Indihome  0.650368   2.0
1       Biznet  0.804000   1.0
2  First Media  0.622059   3.0